In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Esto es para que los gráficos se vean bien dentro del notebook
%matplotlib inline 

print(f"Pandas versión {pd.__version__} cargado.")
print(f"Seaborn versión {sns.__version__} cargado.")

Pandas versión 3.0.0 cargado.
Seaborn versión 0.13.2 cargado.

In [3]:
# Cargar el archivo blanco que ya tienes en la carpeta
df = pd.read_csv("states_2022-06-27-00.csv", engine='pyarrow')
df.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1656288000,34718e,40.872940,1.922974,187.631064,245.543044,8.12800,IBE2601,False,False,False,417.0,5509.26,5814.06,1.656288e+09,1.656288e+09
1,1656288000,ac6364,33.139048,-85.526266,237.239575,337.160319,0.00000,DAL749,False,False,False,5761.0,10363.20,11003.28,1.656288e+09,1.656288e+09
2,1656288000,406471,51.908569,1.838303,169.170746,286.065061,-0.65024,TOM891,False,False,False,3541.0,5478.78,5570.22,1.656288e+09,1.656288e+09
3,1656288000,a04417,33.757187,-83.458370,132.312157,228.625465,-0.32512,N116SK,False,False,False,1716.0,7955.28,8458.20,1.656288e+09,1.656288e+09
4,1656288000,c04aa1,42.869522,-79.307939,209.512017,355.493393,-7.80288,CGCGU,False,False,False,3622.0,5859.78,6088.38,1.656288e+09,1.656288e+09

In [4]:
# Contamos cuántas filas hay por cada avión y vemos los 5 con más registros
print("Top 5 aeronaves con más datos:")
print(df['icao24'].value_counts().head(5))

Top 5 aeronaves con más datos:
icao24
34718e    360
ac6364    360
a04417    360
4ca9cc    360
a895b4    359
Name: count, dtype: int64

In [5]:
# Sustituye 'xxxxxx' por el código icao24 que más te haya gustado de la lista anterior
target_icao = '34718e' 

# Creamos el dataset ligero
df_single = df[df['icao24'] == target_icao].copy()

# Ordenamos por tiempo para que las gráficas tengan sentido cronológico
# Nota: Si tu columna de tiempo se llama 'time' o 'timestamp'
df_single = df_single.sort_values(by='time') 

print(f"Dataset creado para la aeronave {target_icao} con {len(df_single)} registros.")

Dataset creado para la aeronave 34718e con 360 registros.

In [6]:
# Guardamos este subconjunto en un archivo nuevo
df_single.to_csv("single_aircraft_data.csv", index=False)
print("Archivo 'single_aircraft_data.csv' guardado con éxito.")

Archivo 'single_aircraft_data.csv' guardado con éxito.